// flex
.fx {display: flex;}
.justify-start	{justify-content: flex-start;}
.justify-end	{justify-content: flex-end;}
.justify-center	{justify-content: center;}
.justify-between {justify-content: space-between;}
.justify-around	{justify-content: space-around;}
.justify-evenly	{justify-content: space-evenly;}

.flex-row	{flex-direction: row;}
.flex-col	{flex-direction: column;}

.items-start	{align-items: flex-start;}
.items-end	{align-items: flex-end;}
.items-center	{align-items: center;}
.items-baseline	{align-items: baseline;}
.items-stretch	{align-items: stretch;}

.h-100vh {height: 100vh;}

// typography
.large-text{font-size: 94px;}