form
  h2 Login
  div.input-wrap
    input(placeholder="Login", name="login", type="text")
  div.input-wrap
    input(placeholder="Password", name="password", type="password")
  div.input-wrap.fx.justify-between.items-center
    button Sign In
    a(href="#") Sign Up