include ../../../../components/input/input

form(id="login_form")
  h2 Login
  + input("login", "text", "Login")
  + input("password", "password", "Password")
  div.input-wrap.fx.justify-between.items-center
    button Sign In
    a(href="~/src/pages/registration/registration.pug") Sign Up