extends ../../layout/index.pug

block styles
  link(rel="stylesheet", href="~/src/components/error-page/error-page.scss")

include ../../components/error-page/error-page.pug

block content
  +error-page("Chat", "Under construction")