extends ../../layout/index.pug

block styles
  link(rel="stylesheet", href="~/src/pages/chat/chat.scss")

block scripts
  script(src="./index.ts", type="module")

block content
  .chat_page_wrap
    aside
    .chat_wrap
      .chat_room_outer
      .send_msg_form_outer