include ../../../../components/input/input

form(id="registration_form")
  h2 Registration
  + input("first_name", "text", "First Name", "first_name")
  + input("second_name", "text", "Second Name", "second_name")
  + input("login", "text", "Login", "login")
  + input("email", "text", "Email", "email")
  + input("phone", "text", "Phone", "phone")
  + input("password", "password", "Password", "password")
  + input("confirm_password", "password", "Confirm Password", "")
  div.input-wrap
    button Sign Up