extends ../../layout/index.pug

block styles
  link(rel="stylesheet", href="~/src/pages/profile/components/form/form.scss")

block content
  div.fx.justify-center.items-center.h-100vh.profile_form_outer

block scripts
  script(src="./index.ts", type="module")

