include ../../../../components/input/input

block styles
  link(rel="stylesheet", href="~/src/pages/profile/components/form/form.scss")

form(id="profile_form")
  h2 Edit profile
  div.input-wrap.fx.justify-center.items-center
    div.avatar
  div.input-wrap
  + input("avatar", "file", "Avatar", "")
  + input("first_name", "text", "First Name", "first_name")
  + input("second_name", "text", "Second Name", "second_name")
  + input("display_name", "text", "Display Name", "")
  + input("login", "text", "Login", "login")
  + input("email", "text", "Email", "email")
  + input("phone", "text", "Phone", "phone")
  + input("password", "password", "Password", "password")
  + input("new_password", "password", "New Password", "")

  div.input-wrap
    button Save