extends ../../layout/index.pug

block content
  div.fx.justify-center.items-center.h-100vh
    form
      div.input-wrap
        a(href="~/src/pages/404/404.pug") 404
      div.input-wrap
        a(href="~/src/pages/505/505.pug") 505
      div.input-wrap
        a(href="~/src/pages/login/login.pug") Login
      div.input-wrap
        a(href="~/src/pages/registration/registration.pug") Registration
      div.input-wrap
        a(href="~/src/pages/profile/profile.pug") Profile
      div.input-wrap
        a(href="~/src/pages/chat/chat.pug") Chat