html(lang="en")
  head
    title PartyChat
    link(rel="stylesheet", href="~/src/layout/common.scss")
    block styles
  body
    main#root
      block content
    script(src="~/src/layout/common.js")
    block scripts